@import "../../../styles.scss";

.customerLabel {
  text-align: right;
}

.customerDetails {
  margin: 0 2rem;
  border-radius: 0 0 1rem 1rem;
  background-color: $primary-color;
  box-shadow: rgba($secondary-color, 0.6) 0px 2px 3px;
}
