<header class="header p-3">
    <div class="appDescription">
        <!-- {{appDescription}} -->
        <img src="../../assets/images/barber-chair.png" alt="Barber Logo" class="logo">

    </div>
    <div class="appName">
        {{appName}}
    </div>
    <div class="welcomeDiv">
        Welcome Admin<br> Manage your Salon<br>
        <div class="btn btn-secondary m-2">
            <a routerLink="/Register" routerLinkActive="active" class=" text-dark">Register</a>
        </div>
        <div class="btn btn-secondary m-2">
            <a routerLink="/Search" routerLinkActive="active" class=" text-dark">Search</a>
        </div>
    </div>



</header>