<td scope="row" class="width-small">{{index+1}}</td>
<td class="width-medium">
    <select name="" id="" class="form-control" (change)="typeChanged()" [(ngModel)]="selectedServiceCategory">
        <option [ngValue]="null" disabled>Service Type</option>
        <option *ngFor="let type of serviceCategoryList " [value]="type">
            {{type}}
        </option>
    </select>
</td>
<td class="width-medium">
    <select name="ProvideServices" id="ProvideServices" class="form-control" (change)="serviceSelected($event.target)"
        [(ngModel)]="customerServiceRowData.serviceTypeId" [disabled]="!isServiceEnabled">
        <option [ngValue]=" null" disabled>Choose a service</option>
        <option *ngFor="let service of serviceNameDynamicOptions " [value]="service.code" [disabled]>
            {{service.value}}
        </option>
    </select>
</td>
<td class="width-large">
    <div class="serviceDescription" [textContent]="serviceDescription"></div>
</td>
<td class="width-medium">
    <select class="form-control" id="quantity" [(ngModel)]="customerServiceRowData.quantity">
        <option selected="selected">1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
    </select>
</td>

<td class="width-medium">
    <button class="btn btn-secondary m-2" (click)="saveRow()" [disabled]="!isSaveEnabled"> Save</button>
    <button class="btn btn-secondary m-2" (click)="delete()">Delete</button>
</td>