@import "../../../styles.scss";

.btn-round {
  border-radius: 50%;
  font-size: 1rem;
  color: #777;
  font-weight: bold;
  border: 0.2rem solid rgba(#777, 1);
  font-size: 1.4rem;
}

.buttons {
  padding: 0 3rem;
  display: flex;
  justify-content: space-between;
}

table {
  table-layout: fixed;
  width: 100px;
}

td {
  &.width-small {
    width: 5%;
  }

  &.width-medium {
    width: 15%;
  }

  &.width-medium {
    width: 25%;
  }
}
.width-small {
  width: 5%;
}
